- var title = 'Profile';
include pug/head.pug
body.container.text-center.bg-gray
  h1 Welcome, #{user.username}!
  a(href='/') Home
  br
  a(href='/log') Logout
  if user.photos
    br
    img(src=user.photos[0].value, alt='user avatar')
    br
    p
    if user.displayName
      | Name: #{user.displayName}
      br
    if user.emails
      | Email: #{user.emails[0].value}
      br
    | URL: 
    - var url = user.profileUrl;
    a(href=url, target="_blank") #{user.profileUrl}
  else
    p
    | Hmm, what should I put here, #{user.username}?